{% extends "base.html.twig" %}

{% block title "Register" %}

{% block scripts %}
<script src="jquery.min.js"></script>
<script src="u2f-api.js"></script>
<script>
  const completeRegistration = function fCompleteRegistration(registerResponse)
  {
    console.log(registerResponse);
    $('#challenge').val(JSON.stringify(registerResponse));
  }
  var request = {{ request_json | raw }};
  var sign_requests = {{ sign_requests }};
  u2f.register([request], sign_requests, completeRegistration);
</script>
{% endblock %}

{% block body %}
<form action="{{ path('post_register') }}" method="post">
  <input id="username" name="username" type="text" required>
  <input id="request" name="request" readonly type="text" value="{{ request_json }}">
  <input id="challenge" name="challenge" readonly type="text" value="">
  <input id="reg-id" name="reg-id" type="text" value="{{ request_id }}">
  <button type="submit">Register</button>
</form>
{% endblock %}