{% extends "base.html.twig" %}

{% block title "U2F Login" %}

{% block scripts %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="u2f-api.js"></script>
<script>
  const completeAuth = function fCompleteAuth(authResponse)
  {
    console.log(authResponse);
    $('#response').val(JSON.stringify(authResponse));
  }
  var sign_requests = {{ sign_requests_json | raw }};
  u2f.sign(sign_requests, completeAuth);
</script>
{% endblock %}

{% block body %}
Hello {{ username }}
<form action="{{ path('process_u2f_login') }}" method="post">
  <input id="username" name="username" type="text" value="{{ username }}">
  <input id="response" name="response" type="text">
  <input id="auth-id" name="auth-id" type="text" value="{{ auth_id }}">
  <button type="submit">Submit</button>
</form>
{% endblock %}