{% extends 'base.html.twig' %}

{%- block u2fMessage -%}
<img alt="" class="image" src="{{ asset("img/loading.gif") }}"><p class="message">Waiting for you to activate your U2F key.</p>
{%- endblock -%}

{% block scripts %}
<script src="{{ asset('jquery.min.js') }}"></script>
<script src="{{ asset('u2f-api.js') }}"></script>
<script>
  $(document).ready(function () {
    $("#{{ form.submit.vars.id }}").attr("disabled", true);
    $(".buttoncontainer").prepend("{{ block('u2fMessage')|escape("js") }}");
  });

  const completeAuth = function fCompleteAuth(authResponse)
  {
    $('#{{ form.u2fTokenResponse.vars.id }}').val(JSON.stringify(authResponse));
    $("#{{ form.submit.vars.id }}").attr("disabled", false);
    $(".buttoncontainer > .message").fadeOut();
    $(".buttoncontainer > .image").fadeOut();
  }
  var sign_requests = {{ sign_requests_json | raw }};
  u2f.sign(sign_requests, completeAuth);
</script>
{% endblock %}

{% block body %}
<p>Press "Submit" after having activated your U2F key.</p>
{{ form(form) }}
{% endblock %}