{% extends 'base.html.twig' %}

{%- block title -%}Administration{%- endblock -%}

{% block body %}
<ul>
    <li>
        <a href="{{ path('admin_security_score') }}">Security Score</a>
    </li>
    <li>
        <a href="{{ path('admin_registration' ) }}">U2F Settings</a>
    </li>
    <li>
        <a href="{{ path('admin_security_strategy') }}">Security Strategy</a>
    </li>
    <li>
        <a href="{{ path('admin_password') }}">Password Settings</a>
    </li>
    <li>
        <a href="{{ path('admin_user_study') }}">User Study</a>
    </li>
    <li>
        <a href="{{ path('admin_metrics', {"participantId": participantId}) }}">Participant Metrics</a>
    </li>
    <li>
        <a download href="{{ path('admin_export') }}">Export settings</a>
    </li>
    <li>
        <a href="{{ path('admin_import') }}">Import settings</a>
    </li>
</ul>
{% endblock %}