{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li>
        <a href="{{ path('admin_registration' ) }}">Registration</a>
    </li>
    <li>
        <a href="{{ path('admin_security_strategy') }}">Security Strategy</a>
    </li>
    <li>
        <a href="{{ path('admin_password') }}">Password complexity settings</a>
    </li>
    <li>
        <a href="{{ path('admin_user_study') }}">User study settings</a>
    </li>
    <li>
        <a href="{{ path('admin_metrics', {"participantId": participantId}) }}">See metrics</a>
    </li>
    <li>
        <a download href="{{ path('admin_export') }}">Export settings</a>
    </li>
</ul>
{% endblock %}