{% extends 'base.html.twig' %}

{%- block title -%}Participant metrics for {{ participantId }}{%- endblock -%}

{%- block body -%}
{%- include "admin/_back_button.html.twig" -%}
<p>You are viewing participant {{participantId}}'s metrics.</p>
{%- if participantIds|length > 0 -%}
<p>You can switch to: {% for id in participantIds %}<a href="{{ path("admin_metrics", {"participantId": id}) }}">{{ id }}</a>{% if not loop.last %}, {% endif %}{% endfor %}.</p>
<ul>
  <li><a download href="{{ path('admin_metrics_csv', {pid: participantId}) }}">Download the CSV file</a></li>
</ul>
{%- endif -%}
<div class="table-container">
  <table class="standard-table">
    <thead class="thead">
      <tr class="standard-row">
        <th class="cell">Local Path</th>
        <th class="cell">Time Spent (s)</th>
      </tr>
    </thead>
    <tbody class="tbody">
      {%- for metric in metrics -%}
        <tr class="standard-row">
          <th class="cell">{{ metric.localPath }}</th>
          <th class="cell">{{ metric.timeSpent }}</th>
        </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
{%- endblock -%}